.header {
    align-items: center;
    top: auto;
    left: auto;
}

h1 {
    position: absolute;
    width: 278px;
    height: 47px;
    left: 243px;
    top: 110px;
    font-family: PT Serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: -0.045em;
    color: #000000;
}

h2 {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height */
    text-transform: uppercase;
    color: #000000;
}

.sub-subtitle {
    position: absolute;
    width: 117px;
    height: 27px;
    left: 736px;
    top: 110px;
}

.subb-subtitle {
    position: absolute;
    width: 439px;
    height: 87px;
    left: 736px;
    top: 147px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    color: #000000;
}


/** Body**/

main {
    margin-left: 240px;
    padding-right: 301px;
    width: 80%;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
}

.teammate-cont {
    align-items: flex-start;
    display: flex;
    flex-direction: row-reverse;
}

.work {
    width: auto;
    height: auto;
    font-family: PT Serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: auto;
    /* identical to box height */
    text-transform: uppercase;
    color: #000000;
    transform: rotate(90deg);
}

.m1 {
    width: 264px;
    height: 383px;
    margin-top: 330px;
}

.m2 {
    width: 238px;
    height: 347px;
    margin-top: 429px;
}

.m3 {
    width: 238px;
    height: 341px;
    margin-top: 330px;
}

.m4 {
    width: 237px;
    height: 341px;
    margin-top: 137px;
}

.m5 {
    width: 238px;
    height: 347px;
    margin-top: 236px;
}

.m6 {
    width: 237px;
    height: 341px;
    margin-top: 137px;
}

img {
    display: block;
    height: 100%;
}

.t1 {
    margin-top: 375px;
}

.t2 {
    margin-top: 464px;
}

.t3 {
    margin-top: 357px;
}

.t4 {
    margin-top: 172px;
}

.t5 {
    margin-top: 265px;
}

.t6 {
    margin-top: 172px;
}


/*Footer*/

footer {
    margin-top: 115px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

h3 {
    position: absolute;
    width: 287px;
    height: 17px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    text-align: center;
    color: #A9A9A9;
}